html {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}
  
section#about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
div#profile {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
  
div#profile > img {
    height: 128px;
    width: 128px;
    margin: auto 25px;
}
  
header {
  font-size: 18px;
  font-weight: 600;
  color: #54C1EF;
}

.accent {
    color: #54C1EF;
    font-weight: 800;
}

.project-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    gap: 2rem;
}

.project {
    width: 350px;
    height: 450px;
    box-shadow: 7.5px 7.5px #54C1EF;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.project > img {
    height: 70%;
    object-fit: cover;
}

.project-desc {
    height: 30%;
    background-color: #A0D8EE;
    text-align: center;
    padding: 5px;
}

.desc {
    font-size: 12px;
}

.title {
    font-weight: 800;
}

@media (max-width: 500px) {
    div#profile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    div#profile > img {
        margin: 25px auto;
    }
}