html {
    background-color: #dfbb85;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 14px;
    scroll-behavior: smooth;
}
  
body {
  margin: 0;
}
  
main {
  margin-top: 60px;
  margin-left: 5px;
}
  
section > header {
  padding-top: 55px;
  padding-bottom: 10px;
  border-bottom: 2px solid #C8102E;
  margin-right: 5px;
  margin-bottom: 20px;
}
  
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: #fff;
  height: 50px;
  width: 100%;
  top: 0;
}
  
.red, section header {
  color: #C8102E;
}
  
.blue {
  color: #1D428A;
}
  
.team {
  font-size: 18px;
}
  
.team {
  display: flex;
  background-color: #fff;
  margin-right: 5px;
  justify-content: center;
  align-items: center;
}
  
section > p > span {
  width: 200px;
  text-align: center;
  padding: 5px;
}
  
section > p > span:nth-of-type(3) {
  font-size: 14px;
}
  
#BOS {
  color: #fff;
  background-color: #007a33;
}
  
#NY {
  color: #f58426;
  background-color: #006bb6;
}
  
#MIL {
  color: #fff;
  background-color: #00471b;
}
  
#CLE {
  color: #fdbb30;
  background-color: #860038;
}
  
#ORL {
  color: #c4ced4;
  background-color: #0077c0;
}
  
#IND {
  color: #fdbb30;
  background-color: #002d62;
}
  
#PHI {
  color: #fff;
  background-color: #006bb6;
}
  
#MIA {
  color: #fff;
  background-color: #98002e;
}
  
nav header {
  font-size: 16px;
  text-align: center;
}
  
header {
  font-size: 20px;
  font-weight: bold;
}
  
nav a {
  width: 150px;
  height: 50px;
  padding: 0 10px;
  text-align: center;
  text-decoration: none;
  color: #1D428A;
}
  
nav a:hover {
  color: #fff;
  background-color: #1D428A;
}